* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

:root {
    --gray-color: #44475B;
    --gray-lt-color: #44475bde;
    /* --green-color: #00b386; */
    --blue-color: #2a569c;
    /* --green-bg-clr: #ddf7ef; */
    --blue-bg-clr: #daf4ff;
    --org-clr: #eb5b3c;
    --org-bg-clr: #e2aea091;
}
::placeholder {
    color: var(--blue-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.org-clr{
    color: var(--org-clr);
    /* font-size: 16px; */
}
.border-blue-color{
    border: 1px solid var(--blue-color) !important;
}
.border-org-color{
    border: 1px solid #eb5b3c;
}
.gray-lt-color{
    color: var(--gray-lt-color);
}
.gray-color {
    color: var(--gray-color) !important;
}
.blue-color {
    color: var(--blue-color) !important;
}
.blue-bg-clr {
    background-color: var(--blue-bg-clr) !important;
}
.org-bg-clr {
    background-color: var(--org-bg-clr);
}
input:focus {
    outline: 1px solid var(--blue-color);
}
input {
    padding: 7px 13px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
.font-18{
    font-size: 18px;
}
button{
    padding: 7px 20px;
    background-color: var(--blue-bg-clr);
    /* background-color: #3e64a1; */
    border-radius: 10px !important;
    border: 1px dotted var(--blue-color);
}
button:active {
    transform: translateY(1px);
    transition: all 0.1s ease-in-out;
}
#card-2{
    display: none;
}
.transaction{
    display: none;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.selection{
    border-left: 5px solid var(--blue-color);
}
.selection span{
    font-size: 30px;
    color: var(--blue-color);
}
.selection:hover{
    /* border: 1px solid var(--blue-color); */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    cursor: pointer;
    background-color: white;
}
.selection:active{
    transform: translateX(3px);
    transition: all 0.1s ease-in-out;
}
.balance{
    display: none;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.deposite{
    display: none;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.user{
    display: none;
}
#depositeamount{
    padding: 15px 23px 15px 15px;
    border: none;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 18px;
}
.thankyou{
    display: none;
}
.thankyou1{
    display: none;
}
.withdraw{
    display: none;
}
.last-visit{
    display: none;
}
/* .exit-img{
    background-image: url('../images/istockphoto-1433728313-612x612.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
} */